td {font: 12px; color: #ffffff}
a {color: ffffff;text-decoration: none;
}
a:hover {
	color: #FF4500;
	text-decoration: none;
}
.foot {
	font-size: 12px;
	color: #ffffff;
	padding-left: 21px;
	padding-right: 21px;
	vertical-align: middle;
}
.heardpart {
    background: #599bb3;
    background-image: -webkit-linear-gradient(top, #599bb3, #408c99);
    background-image: -moz-linear-gradient(top, #599bb3, #408c99);
    background-image: -ms-linear-gradient(top, #599bb3, #408c99);
    background-image: -o-linear-gradient(top, #599bb3, #408c99);
    background-image: linear-gradient(to bottom, #599bb3, #408c99);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    text-shadow: 0px 1px 0px #3d768a;
    -webkit-box-shadow: 0px 10px 14px -7px #276873;
    -moz-box-shadow: 0px 10px 14px -7px #276873;
    box-shadow: 0px 10px 14px -7px #276873;
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
    padding: 12px 30px 12px 30px;
    border: solid #4e6096 1px;
    text-decoration: none;
}
a.part {
    font: bold 12px "ו";
    color: #014E82;
    text-align: center;
    width: 88px;
    height: 29px;
    text-decoration: none;
    padding-top: 9px;
    background-image: url(../images/menubj.gif);
    vertical-align: top;
}
a.part:hover {
	color: #ff0000;
	background-image: url(../images/menubj.gif);
	text-decoration: none;
}
