/* r.a.d.grid Office2007 skin */

div.RadGrid_Office2007
{
	border: solid 1px #3b5a82;
	font: normal 11px Arial, Verdana, Sans-serif;
	text-align: left;
	cursor: default;
	background: white;
}

.RadGrid_Office2007 a
{ 

	color: #000000;
}

.MasterTable_Office2007
{
	border-collapse: separate !important;
	width: 100%;
	color: #27413e;
	font: 11px tahoma;
}

.MasterTable_Office2007 td,
.MasterTable_Office2007 th
{
	padding-left: 4px;
}

th.GridHeader_Office2007,
th.ResizeHeader_Office2007
{
	font: bold 10px Verdana, Arial, Sans-serif;
	background: #d3dbe9 url('Img/GridHeaderBg.gif') repeat-x;
	padding-left: 6px; /*more than items to compensate for item borders!*/
	height: 19px;
	color: #27413e;
	border-bottom: solid 1px #9eb6ce;
}

.GridHeader_Office2007 a
{
	color: #27413e;
	font: bold 11px  Arial, Verdana, Sans-serif;
	text-decoration: none;
}

.GridRow_Office2007 td,
.GridAltRow_Office2007 td
{
	background: transparent;
	line-height: 19px;
	border-bottom: 1px solid #d0d7e5;
	border-right: 1px solid #d0d7e5;
}

.SelectedRow_Office2007 td,
.ActiveRow_Office2007 td
{
	background: #f1c15f url('Img/gridSelectedRowBg.gif') repeat-x !important;
	line-height: 19px;
	border-bottom: 1px solid #f29536;
	border-right: 1px solid #f29536;
}

.GridPager_Office2007 td
{
	background: #9ab5db url('Img/GriPagerBg.gif') repeat-x;
	height: 15px;
	color: white;
}

.GridFooter_Office2007 td
{
	background: #fbfbfb;
	border: solid 1px #fbfbfb;
	border-top: 1px solid #637783;
	height: 19px;
	color: #666;
}

.GridFooter_Office2007 td a
{
	color: #666;
}

.GridPager_Office2007 td a
{
	color: white;
}

.GridPager_Office2007 td a:hover,
.GridFooter_Office2007 td a:hover
{
	color: black;
}


tr.GroupHeader_Office2007 td
{
	background: #e4ecf7;
	height: 22px;
}

.GroupPanel_Office2007
{
	background: #9ebde5 url('Img/GridGroupPanelBg.gif') repeat-x;
	width: 100%;
	height: 23px;
	border-bottom: solid 1px #688caf;
	border-collapse: collapse;
}

.GroupPanelItems_Office2007
{
	background: white;
	color: black;
	border: solid 1px #325373;
	white-space:  nowrap;
	padding-left: 2px;
	font-size: 11px;
	height: 15px;
}
td.GridHeader_Office2007 input
{
	width: auto;
	float: left;
	border: solid 1px #3b5a82;
	background: #fafafa;
	font: bold 10px Verdana, Arial, Sans-serif;
	color: #989cb0;
	height: 14px;
	vertical-align:middle;
}