<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<configSections>
		<section name="aspnetUploadSettings" type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.5000.0, Culture=neutral,PublicKeyToken=b77a5c561934e089"/>
		<section name="TiannuoPM.Data" type="TiannuoPM.Data.Bases.NetTiersServiceSection, TiannuoPM.Data" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
		<section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
		<sectionGroup name="microsoft.web" type="Microsoft.Web.Configuration.MicrosoftWebSectionGroup">
			<section name="converters" type="Microsoft.Web.Configuration.ConvertersSection" requirePermission="false"/>
			<section name="webServices" type="Microsoft.Web.Configuration.WebServicesSection" requirePermission="false"/>
			<section name="authenticationService" type="Microsoft.Web.Configuration.AuthenticationServiceSection" requirePermission="false"/>
			<section name="profileService" type="Microsoft.Web.Configuration.ProfileServiceSection" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<add name="RmsPM.Data.ConnectionString" connectionString="Data Source=.;Initial Catalog=DYDB;user=rms;pwd=111;Connect Timeout=100;"/>
	</connectionStrings>
	<TiannuoPM.Data defaultProvider="SqlNetTiersProvider">
		<providers>
			<add name="SqlNetTiersProvider" type="TiannuoPM.Data.SqlClient.SqlNetTiersProvider, TiannuoPM.Data.SqlClient" connectionStringName="RmsPM.Data.ConnectionString" providerInvariantName="System.Data.SqlClient" entityFactoryType="TiannuoPM.Entities.EntityFactory" useEntityFactory="true" enableEntityTracking="false" enableMethodAuthorization="false" useStoredProcedure="false" defaultCommandTimeout="300"/>
		</providers>
	</TiannuoPM.Data>
	<enterpriseLibrary.ConfigurationSource selectedSource="File Configuration Source">
		<sources>
			<add name="File Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" filePath="entlib.config"/>
		</sources>
	</enterpriseLibrary.ConfigurationSource>
	<microsoft.web>
		<converters>
			<add type="Microsoft.Web.Script.Serialization.Converters.DataSetConverter"/>
			<add type="Microsoft.Web.Script.Serialization.Converters.DataRowConverter"/>
			<add type="Microsoft.Web.Script.Serialization.Converters.DataTableConverter"/>
		</converters>
		<webServices enableBrowserAccess="true"/>
	</microsoft.web>
	<aspnetUploadSettings>
		<add key="lisenceKey" value="ExMmNpYu+CRAdDLkRIIqveNgtZ7WfwHgg"/>
		<add key="maxRequestLength" value="2048000"/>
	</aspnetUploadSettings>
	<system.web>
		<pages>
			<controls>
				<add namespace="Microsoft.Web.UI" assembly="Microsoft.Web.Atlas" tagPrefix="atlas"/>
				<add namespace="Microsoft.Web.UI.Controls" assembly="Microsoft.Web.Atlas" tagPrefix="atlas"/>
				<add tagPrefix="data" namespace="TiannuoPM.Web.Data" assembly="RmsPM.Web"/>
				<add tagPrefix="data" namespace="TiannuoPM.Web.UI" assembly="RmsPM.Web"/>
			</controls>
		</pages>
		<httpHandlers>
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" type="Microsoft.Web.Services.ScriptHandlerFactory" validate="false"/>
			<add verb="*" path="atlasbatchcall.axd" type="Microsoft.Web.Services.MultiRequestHandler" validate="false"/>
			<add verb="*" path="atlasglob.axd" type="Microsoft.Web.Globalization.GlobalizationHandler" validate="false"/>
			<add verb="*" path="*.asbx" type="Microsoft.Web.Services.ScriptHandlerFactory" validate="false"/>
		</httpHandlers>
		<httpModules>
			<add name="ScriptModule" type="Microsoft.Web.Services.ScriptModule"/>
			<add name="BridgeModule" type="Microsoft.Web.Services.BridgeModule"/>
			<add name="WebResourceCompression" type="Microsoft.Web.Services.WebResourceCompressionModule"/>
                <add name="UploadModule" type="Bestcomy.Web.Controls.Upload.UploadModule,Bestcomy.Web.Controls.Upload"/>
			<!--add name="EntityTransactionModule" type="TiannuoPM.Web.Data.EntityTransactionModule"/-->
		</httpModules>
		<compilation defaultLanguage="c#" debug="true">
			<assemblies>
				<add assembly="System.Configuration.Install, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="Infragistics.WebUI.Shared.v5.1, Version=5.1.20051.37, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics.WebUI.WebDataInput.v5.1, Version=5.1.20051.37, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="System.EnterpriseServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Infragistics.UltraChart.Resources.v5.1, Version=5.1.20051.37, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics.WebUI.Misc.v5.1, Version=5.1.20051.37, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics.WebUI.UltraWebCalcManager.v5.1, Version=5.1.20051.37, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics.WebUI.UltraWebChart.v5.1, Version=5.1.20051.37, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics.WebUI.UltraWebGrid.ExcelExport.v5.1, Version=5.1.20051.37, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics.WebUI.UltraWebGrid.v5.1, Version=5.1.20051.37, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics.WebUI.UltraWebListbar.v5.1, Version=5.1.20051.37, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics.WebUI.UltraWebNavigator.v5.1, Version=5.1.20051.37, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics.WebUI.UltraWebTab.v5.1, Version=5.1.20051.37, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics.WebUI.UltraWebToolbar.v5.1, Version=5.1.20051.37, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics.WebUI.WebCombo.v5.1, Version=5.1.20051.37, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics.WebUI.WebDateChooser.v5.1, Version=5.1.20051.37, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics.WebUI.WebNavBar.v5.1, Version=5.1.20051.37, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="stdole, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Messaging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies>
			<buildProviders>
				<add extension=".asbx" type="Microsoft.Web.Services.BridgeBuildProvider"/>
			</buildProviders>
			<compilers>
				<compiler language="c#" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" extension=".cs" compilerOptions="/d:DEBUG;TRACE"/>
			</compilers>
		</compilation>
		<customErrors mode="Off"/>
		<authentication mode="Windows"/>
		<authorization>
			<allow users="*"/>
		</authorization>
		<trace enabled="false" requestLimit="100" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
		<!--  会话状态设置          默认情况下，ASP.NET 使用 Cookie 来标识哪些请求属于特定的会话。          如果 Cookie 不可用，则可以通过将会话标识符添加到 URL 来跟踪会话。         若要禁用 Cookie，请设置 sessionState cookieless="true"。    -->
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="2"/>
		<!--  全球化          此节设置应用程序的全球化设置。    -->
		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
		<xhtmlConformance mode="Legacy"/>
	</system.web>
	<!--  应用系统参数    -->
	<appSettings>
    <!--是否调试-->
    <add key="IsDebug" value="1" />
    <!--是否启用新的合同结构-->
    <add key="IsContractNew" value="0" />
    <!--调试用户-->
    <add key="DebugUser" value="admin" />
		<!--数据库连接字符串-->
		<add key="DBConnString" value="Data Source=.;Initial Catalog=DYDB;user=rms;pwd=111;Connect Timeout=100;"/>
		<!--数据库类型说明-->
		<add key="DBTYPE" value="SQLCLIENT"/>
		<!--Web服务引用路径-->
		<add key="WebSeviceUrl" value="http://localhost/AspWebSevice25/WorkFlowResult.asmx"/>
		<!--应用程序虚拟目录指向 格式：[\\虚拟目录名称]-->
    <!--	<add key="VirtualDirectory" value="//Rms"/>-->
    <add key="VirtualDirectory" value=""/>
		<!--XML资源路径 （保持目录结构情况下不需要修改）-->
		<add key="EntityDefinePath" value="\RmsPM.DAL\EntityDefinitions\"/>
		<!--XML资源路径 （错误日志文件保存路径）-->
		<add key="ApplicationLogPath" value="\Log\"/>
		<!-- 说明用户版本 -->
		<add key="PMName" value="RmsPM.Web"/>
		<!-- 用户名是否可以登录标记（1为可以登录，0为不可以登录） -->
		<add key="UserNameLogin" value="1"/>
		<!-- 工作流超时时间设置（单位为小时）-->
		<add key="FlowTime" value="72"/>
		<!-- 登录超时时间（单位为分钟，0 时不进行超时限制）-->
		<add key="LoginTimeOut" value="0"/>
		<!-- 是否需要“签收”，（0 时不需要，1为需要）-->
		<add key="WorkFlowSignIn" value="0"/>
		<!-- 请款单请款上限比例-->
		<add key="PaymentPercent" value="1"/>
		<!-- 邮件定时提醒时间（小时：例如 8 表示八点整发送待办事宜提醒邮件。无该项配置时将不启动定时提醒服务）-->
		<add key="SendMailTime" value="9"/>
		<!-- 邮件定时提醒内容（0为只发送待办事宜，1为发送待办及在办事宜内容）-->
		<add key="SendMailContent" value="1"/>
		<!-- 邮件中项目管理系统链接地址-->
		<add key="SystemUrl" value="http://"/>
		<!-- 流程实例流向过程描述模式（0 为意见和流向统一模式，1意见和流向分离模式）-->
		<add key="FlowCaseState" value="1"/>
		<!--营销系统接口-->
    <add key="SalServiceUrl" value=""/>
      <!--http://localhost/WebService/WorkFlowResult.asmx-->
		<!-- ~~~~~~~~~~~~~~~~~~邮件配置（不使用时建议删除一下设置）~~~~~~~~~~~~~~~~~~~~~~~~-->
		<!-- 邮件服务器设置（该项不存在时将不运行邮件提示功能）-->
		<add key="MailServer" value=""/>
		<!-- 邮件发送默认系统邮箱-->
		<add key="MailUser" value=""/>
		<!-- 邮件发送默认系统邮箱密码-->
		<add key="MailPwd" value=""/>
		<!-- 邮件服务器端口-->
		<add key="SmtpPort" value="25"/>
		<!-- 邮件服务器是否使用SSL认证（true为使用，false为不使用）-->
		<add key="SmtpUseSSL" value="false"/>
		<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<!-- 发生费用时是否可选择费用项的所有节点（1为可选） -->
		<add key="SelectCBSAllNode" value="1"/>
		<!-- 附件存储方式  file and database 默认是database ，path一节存附件在硬盘上的存放路径，为完整物理路径-->
		<add key="AttachmentSaveMode" value="database"/>
		<add key="AttachmentSavePath" value="c:\temp"/>
	</appSettings>
</configuration>
