.Over_Office2007
{
	width: 179px;
	font: normal 12px  Arial, Verdana, Sans-Serif;
	background: white;
	border: solid 1px #38577e;
	color: #38577e;
}

.Focus_Office2007
{
	width: 179px;
	color: #7f9db9;
	font: normal 12px  Arial, Verdana, Sans-Serif;
	background: white;
	border: solid 1px #7f9db9;
}

.Default_Office2007
{
	width: 179px;
	font: normal 12px  Arial, Verdana, Sans-Serif;
	color: #7f9db9;
	border: solid 1px #7f9db9;
}

.Error_Office2007
{
	width: 179px;
	color: #dcaa78;
	font: normal 12px  Arial, Verdana, Sans-Serif;
	background: white;
	border: solid 1px #dcaa78;
}
.Hint_Office2007
{
	background: infobackground;
	margin-top: 5px;
	border: 1px solid black;
	text-align: left;
	overflow: auto;
}

.Hint_Office2007 a, Hint_Office2007 a:visited, .Hint_Office2007 a:hover
{
	margin: 2px;
	color: black;
	text-decoration: none;
	font-size: small;
}